<p id="notice"><%= notice %></p>

<h1>Match Teams</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_teams.each do |match_team| %>
      <tr>
        <td><%= link_to 'Show', match_team %></td>
        <td><%= link_to 'Edit', edit_match_team_path(match_team) %></td>
        <td><%= link_to 'Destroy', match_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match Team', new_match_team_path %>
